[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "spm-python"
version = "25.01.beta1"
description = "Python bindings for the SPM software."
readme = "README.md"
license = {file = "LICENSE"}
authors = [
  {name = "Johan Medrano", email = "johan.medrano@ucl.ac.uk"}, 
  {name = "Yael Balbastre", email = "y.balbastre@ucl.ac.yk"}]
requires-python = ">=3.9,<3.13"
classifiers = [
  "Development Status :: 3 - Alpha",
  "License :: OSI Approved :: GNU General Public License v2 (GPLv2)",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
]
dependencies = [
    "numpy", 
    "mpython-core"
]

[project.urls]
Repository = "https://github.com/spm/spm-python"

[tool.setuptools.packages]
find = {}

[tool.setuptools.package-data]
spm = ["_spm/_spm.ctf"]

[tool.ruff]
include = ["pyproject.toml", "spm/**/*.py", "tests/**/*.py", "scripts/**/*.py"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F811"]
